
@{
    Layout = null;
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPayment</title>
</head>
<body>
    <div> 
        <h3>Thank you , your payment have been received. <br />We send you receipt on your registered mail account</h3>
    </div>
</body>
</html>
