@model MNServer.Models.ClarificationModelList
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clarification</title>
</head>
<body>
    <div>
      
        @Html.TextAreaFor(m => m.Clarification, new { @class = "form-control", @rows = 10, @cols = 40 })

    </div>
</body>
</html>
