
@{
    Layout = null;
    var str = TempData["Message"].ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AppliedPage</title>
</head>
<body>
    <div> 
        <h3>
            @str
        </h3>
    </div>
</body>
</html>
